<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChatBot Flask App</title>

<link href="../static/css/style.css" rel="stylesheet">
  <link rel="stylesheet"  href = "../static/css/bootstrap.min.css">
	<link rel="stylesheet"  href = "../static/css/jumbotron-narrow.css">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/home">Home</a>
                    </li>


                    </li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Ask Ire</h3>
        </div>
		 
		 <div>
		
			<div class="split left">
				<div  >
					<img class="img-circle"  src="../static/bot.png">
				</div>
			</div>	

			<div class="split right">
				<div class="jumbotron">
					<h1>I'm Ire</h1>
					<p class="lead"></p>
					<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign In</a>
					</p>
				</div>
			</div>
			</div>


</div>

</div>
</div>
</div>
<div class="containerDown" style="margin-left:8%"> </div>
</body>

</html>



